
#our-mission {
  padding: 40px 0;
}

#our-mission > header {
  padding: 40px 0;
  background-color: #f8f8f8;
}

#our-mission > img {
  width: 100%;
  margin-bottom: 20px;
}

#our-mission > header {
  margin-bottom: 20px;
  padding: 0 20px;
  text-align: center;
}

#our-mission > header > h1 {
  font-size: 32px;
  color: var(--blue);
  text-align: center;
  max-width: max-content;
  border-bottom: 2px solid var(--blue);
  margin: 0 auto;
}

#our-mission > main {
  padding: 0 40px;
  max-width: 1560px;
  margin: 0 auto;
}

#our-mission > main > div {
  display: flex;
  align-items: flex-start;
  gap: 160px;
}

#our-mission > main > div + * {
  margin-top: 100px;
}

#our-mission > main > div:nth-child(1) {
  justify-content: space-between;
}

#our-mission > main > div:nth-child(2) {
  justify-content: center;
}

#our-mission > main > div:nth-child(2) > div > main > p {
  max-width: 550px;
  margin: 0 auto;
}

#our-mission > main > div > div {
  flex: 1;
}

#our-mission > main > div > div > header {
  display: flex;
  align-items: center;
  justify-content: center;
}

#our-mission > main > div > div > header > h1 {
  font-size: 34px;
  color: var(--blue);
  position: relative;
  max-width: max-content;
  padding-bottom: 15px;
  margin-bottom: 43px;
}

#our-mission > main > div > div > header > h1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 5px;
  background-color: #55a1d8;
}

#our-mission > main > div > div > main > p {
  color: #3c3c3c;
  font-size: 20px;
  text-align: justify;
}